services:
  node:
    image: node:alpine
    restart: always
    volumes:
      - ./node:/assets
    networks:
      - trendiverse-shared
    ports:
      - 8080:8080
    command: /bin/sh -c "cd /assets/rest-api && npm ci && node index.js"
  mysql:
    image: mysql
    restart: always
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - trendiverse-shared
    ports:
      - 3306:3306
    secrets:
      - DB_NAME
      - DB_PASSWORD
      - DB_ROOT_PASSWORD
      - DB_USER
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/DB_ROOT_PASSWORD
      MYSQL_DATABASE_FILE: /run/secrets/DB_NAME
      MYSQL_USER_FILE: /run/secrets/DB_USER
      MYSQL_PASSWORD_FILE: /run/secrets/DB_PASSWORD
      TZ: Asia/Tokyo
  tensorflow:
    image: tensorflow/tensorflow:latest
    restart: always
    volumes:
      - ./tensorflow:/assets
    networks:
      - trendiverse-shared

secrets:
  DB_NAME:
    file: ./secrets/DB_NAME.txt
  DB_PASSWORD:
    file: ./secrets/DB_PASSWORD.txt
  DB_ROOT_PASSWORD:
    file: ./secrets/DB_ROOT_PASSWORD.txt
  DB_USER:
    file: ./secrets/DB_USER.txt

networks:
  trendiverse-shared:
