services:
  node:
    image: node:alpine
    restart: always
    volumes:
      - ./node:/assets
    networks:
      trendiverse-shared:
        ipv4_address: 172.30.0.10
    ports:
      - 8080:8080
      - 8081:8081
    secrets:
      - DB_NAME
      - DB_PASSWORD
      - DB_ROOT_PASSWORD
      - DB_USER
      - TWITTER_BEARER_TOKEN
    command: /bin/sh -c "cd /assets/rest-api && npm ci && (node index.js) & cd /assets/twitter_api && npm ci && (node index.js) & wait"
  mysql:
    image: mysql:5.7
    restart: always
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      trendiverse-shared:
        ipv4_address: 172.30.0.11
    ports:
      - 3306:3306
    secrets:
      - DB_NAME
      - DB_PASSWORD
      - DB_ROOT_PASSWORD
      - DB_USER
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/DB_ROOT_PASSWORD
      MYSQL_DATABASE_FILE: /run/secrets/DB_NAME
      MYSQL_USER_FILE: /run/secrets/DB_USER
      MYSQL_PASSWORD_FILE: /run/secrets/DB_PASSWORD
      TZ: Asia/Tokyo
  # miniconda:
  #   image: continuumio/miniconda3:latest
  #   restart: always
  #   volumes:
  #     - ./miniconda:/assets
  #   networks:
  #     trendiverse-shared:
  #       ipv4_address: 172.30.0.12
  #   command: /bin/bash /assets/setup.sh

secrets:
  DB_NAME:
    file: ./secrets/DB_NAME.txt
  DB_PASSWORD:
    file: ./secrets/DB_PASSWORD.txt
  DB_ROOT_PASSWORD:
    file: ./secrets/DB_ROOT_PASSWORD.txt
  DB_USER:
    file: ./secrets/DB_USER.txt
  TWITTER_BEARER_TOKEN:
    file: ./secrets/TWITTER_BEARER_TOKEN.txt
  

networks:
  trendiverse-shared:
    driver: bridge
    ipam:
     driver: default
     config:
       - subnet: 172.30.0.0/24
